@model Doan.Models.Thuoc

@{
    ViewData["Title"] = "Delete";
}

<h3>XÓA THUỐC</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenHoatChat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenHoatChat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HamLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HamLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuongLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuongLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDuongLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDuongLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangBaoChe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangBaoChe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDangKy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDangKy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuyCach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuyCach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaSx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaSx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuocSx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuocSx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDvkt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDvkt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tccl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tccl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BoPhanVt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BoPhanVt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenKhoaHoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenKhoaHoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NguonGoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NguonGoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PpChebien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PpChebien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDlNhap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDlNhap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDlCb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDlCb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaTlhhCb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaTlhhCb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TlhhBq)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TlhhBq)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCskcbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCskcbNavigation.MaCskcb)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Stt" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
