@model Doan.Models.Vattu

@{
    ViewData["Title"] = "Details";
}

<h3>CHI TIẾT VẬT TƯ Y TẾ</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaVatTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaVatTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhomVatTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhomVatTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenVatTu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenVatTu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuyCach)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuyCach)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HangSx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HangSx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NuocSx)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NuocSx)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonViTinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonViTinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonGiaBh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonGiaBh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TyleTtBh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TyleTtBh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NhaThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NhaThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TtThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TtThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TuNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TuNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DenNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DenNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LoaiThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoaiThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HtThau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HtThau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaCskcbNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaCskcbNavigation.MaCskcb)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Stt">Chỉnh sửa</a> |
    <a asp-action="Index">Quay lại danh sách</a>
</div>
